*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: sans-serif;
}
header{
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  background:#ff5e8e;
}
header .logo{
  position: relative;
  color:#0169b2;
  display: inline-block;
  font-size: 2em;
  opacity: 0;
  text-decoration: none;
  font-weight: 800;
  animation: slide-left 0.5s linear forwards;
  animation-delay: 0.2;
}
@keyframes slide-left {
  
    0%
    {
      transform: translateX(-100px);
      opacity: 0;
    }
    100%
    {
      transform: translateX(0px);
      opacity: 1;
    }
  
}
header ul{
  position: relative;
  display: flex;
}
header ul li{
  list-style: none;
}
header ul li a{
  color:#0169b2;
  font-weight: 600;
  font-size: 1.1em;
  margin-left: 10px;
  display: inline-block;
  padding: 8px 18px;
  text-decoration: none;
  user-select: none;
  opacity: 0;
  animation: slide-top 0.5s linear forwards;
  animation-delay: 0.2;
}
@keyframes slide-top 
{
  0%
  {
    transform: translateY(100px);
    opacity: 0;
  }
  100%
  {
    transform: translateY(0px);
    opacity: 1;
  }
}
.active,
header ul li a:hover
{
  background: #0169b2;
  color:#fff;
  border-radius: 30px;
}

/*Responsive*/
@media(max-width:991px)
{
  .navigation
  {
    display: none;
  }
  .navigation.active
  {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .mosque
  {
    max-width: 400px;
  }
  .content .textBox h2
  {
    font-size: 2.5em;
  }
  .content .textBox p
  {
    font-size: 1em;
  }
}
